{%extends 'layout.template.html' %}

{%block content%}
<h2>Edit New Animal</h2>
<form method="POST">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="animal_name" value="{{animal.name}}"/>
    </div>

    <div class="form-group">
        <label>Type:</label>
        <select name="animal_type" class="form-control">
            {%for animal_type in all_animal_types %}
                {% if animal_type._id == animal.type._id %}
                    <option value="{{animal_type._id}}" selected>{{animal_type.type_name}}</option>
                    {% else %}
                    <option value="{{animal_type._id}}">{{animal_type.type_name}}</option>
                    {%endif%}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Breed:</label>
        <input type="text" class="form-control" name="breed" value="{{animal.breed}}"/>
    </div>

    <input type="submit" class="btn btn-primary"/>

</form>
{%endblock%}